@page "/about"

@* <img src="Images/About/guitar.jpg" />
<img src="Images/About/guitar2.jpeg" />

<img src="Images/About/code.jpg" />
<img src="Images/About/code2.jpg" />

<img src="Images/About/design.jpg" />
<img src="Images/About/chess.jpg"/>

<img src="Images/About/galaxy.jpg" />
<img src="Images/About/retro.jpg" /> *@

<h1>HELLO</h1>


@*<script src="/Script/About.js"></script> *@

@code {





}
